<!-- Modal -->
@model TutorialMoneyAdminDataServices.Models.Calender.CalenderModalVM
@Html.HiddenFor(m => m.IncomeOrSpendMode)
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">家計簿入力</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mb-4">
                    <div class="d-flex row" id="tab-menu">
                        <div class="col-6 d-flex align-items-center justify-content-center" style="max-width:300px;" id="info">
                            <a class="btn btn-small btn-info" onclick="setCalenderModalInfo(@Model.Date, 1)">
                                <i class="plus-payment icon-plus-sign icon-2x"></i>
                            </a>
                            <label class="ml-2 font-weight-bold">収入</label>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-center" style="max-width:300px;" id="important">
                            <a class="btn btn-small btn-danger" onclick="setCalenderModalInfo(@Model.Date, 2)">
                                <i class="minus-payment icon-minus-sign icon-2x"></i>
                            </a>
                            <label class="ml-2 font-weight-bold">支出</label>
                        </div>
                    </div>
                </div>
                <div class="container @Model.IncomeOrSpendBorderColor">
                    <div class="row">
                        <div class="col-3 @Model.IncomeOrSpendSeparateBorderColor left-column align-items-center justify-content-center" style="max-width:300px;">
                            <label class="font-weight-bold @Model.IncomeOrSpendWordColor ml-2 mt-2 mb-2">日付</label>
                        </div>
                        <div class="col-7 right-column align-items-center justify-content-center ml-2 mt-2 mb-2">
                            <input id="updated-at" style="width:200px; vertical-align: top;" type="date" value="@Model.Date" />
                        </div>
                    </div>
                </div>
                <div class="container @Model.IncomeOrSpendBorderColor">
                    <div class="row">
                        <div class="col-3 @Model.IncomeOrSpendSeparateBorderColor left-column align-items-center justify-content-center" id="amount-important">
                            <label class="font-weight-bold @Model.IncomeOrSpendWordColor ml-2 mt-2 mb-2">@Model.SpendOrIncomeWord</label>
                        </div>
                        <div class="input-group col-7 right-column align-items-center justify-content-center">
                            <span class="input-group-text ml-2 mt-2 mb-2">@Model.PlusOrMinusMark</span>
                            <input type="number" class="form-control" aria-label="">
                            <span class="input-group-text mt-2 mb-2">円</span>
                        </div>
                    </div>
                </div>
                <div class='container @Model.IncomeOrSpendBorderColor' id='large_category_group'>
                    <div class='row'>
                        <div class="col-3 @Model.IncomeOrSpendSeparateBorderColor left-column align-items-center justify-content-center" id="amount-important">
                            <label class="font-weight-bold @Model.IncomeOrSpendWordColor ml-2 mt-2 mb-2">項目</label>
                            <br>
                            <span>
                                ※項目を選択しない場合は、未分類となります。
                            </span>
                        </div>
                        <div class="col-7 right-column align-items-center justify-content-center" id="amount-important">
                            <input class="h_l_ctg" autocomplete="off" type="hidden" name="" id="" />
                            <div class='btn-group btn_l_ctg'>
                                <a class='btn btn-small dropdown-toggle ml-2 mt-2 mb-2' data-toggle='dropdown' id='' style='width: 200px; height: 20px;'>
                                    未分類
                                    <span class='caret'></span>
                                </a>
                            </div>
                            <input class="h_m_ctg" autocomplete="off" type="hidden" name="" id="" />
                            <div class='btn-group mt-3' id='target-js-content-field'>
                                <a class='btn btn-small dropdown-toggle v_m_ctg ml-2 mt-2 mb-2' data-toggle='dropdown' id='' style='width: 200px; height: 20px;'>
                                    未分類
                                    <span class='caret'></span>
                                </a>
                            </div>
                            <input id="js-content-field" class="mt-4 ml-3" placeholder="内容をご入力下さい(任意)" type="text" name="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer align-items-center justify-content-center @Model.IncomeOrSpendBorderColor border border-right-0 border border-left-0 border border-bottom-0">
                    <button type="button" class="btn btn-primary">登録</button>
                </div>
            </div>
        </div>
    </div>
</div>

