<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家計簿</title>
    @* BundleConfigファイル（Js,Cssファイル）でまとめてファイル読み込む *@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/calenderCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-dark fixed-top bg-dark navbar-expand-md">
        @Html.ActionLink("家計簿", "Index", "Calender", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    @* BundleConfigファイル（Js,Cssファイル）でまとめてファイル読み込む *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/calenderJs")
    @RenderSection("scripts", required: false)
</body>
</html>
